/* stylelint-disable no-empty-source */

.commerce-order-status {
    margin-bottom: var(--spacing-small);
}

.commerce-order-status .dropin-header-container {
    display: none;
}

.commerce-order-status-container .dropin-header-container .dropin-header-container__divider--medium {
    border-color: #B0B0B0;
    border-width: 1px;
}