.tabs-nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tabs-nav button {
    border: 1px solid #121212;
    background-color: transparent;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1.2px;
    font-weight: 700;
    opacity: .5;
    text-transform: uppercase;
    padding: 6px 20px;
    cursor: pointer;
}

.tabs-nav button.active {
    opacity: 1;
    cursor: none;
    pointer-events: none;
}
