.commerce-video {
    text-align: center;
    max-width: 900px;
    margin: 24px auto;
}

.commerce-video[data-embed-loaded='false']:not(.placeholder) {
    /* reserve an approximate space to avoid extensive layout shifts */
    aspect-ratio: 4 / 5;
}

.commerce-video>div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100% !important;
    padding-bottom: 0 !important;
}

.commerce-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commerce-video .video-placeholder {
    width: 100%;
    aspect-ratio: 4 / 5;
    position: relative;
}

.commerce-video .video-placeholder>* {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
}

.commerce-video[data-embed-loaded='true'] .video-placeholder,
.commerce-video[data-embed-loaded='false'] .video-placeholder+* {
    visibility: hidden;
    height: 0;
    width: 0;
}

.commerce-video .video-placeholder picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.commerce-video .video-placeholder-play button {
    position: relative;
    display: block;
    background: url("../../icons/play.png") no-repeat center / contain;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 0;
}

.commerce-video .video-placeholder-play button:focus,
.commerce-video .video-placeholder-play button:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
    background-color: black;
}